@page "{restaurantId:int?}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing @Model.Restaurant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Restaurant.Name"></label>
            <input class="form-control" asp-for="Restaurant.Name" autocomplete="off" autofocus />
            <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="Restaurant.Location"></label>
            <input class="form-control" asp-for="Restaurant.Location" />
            <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label asp-for="Restaurant.Cuisine"></label>
            <select class="form-control" asp-for="Restaurant.Cuisine"
                    asp-items="Model.Cuisines"></select>
            <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}